# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import numpy as np
import pandas as pd
#Customers = pd.DataFrame(columns=column_names)
# Customers

In [2]:
# Your code here
file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
column_names = file1.columns
customers = pd.DataFrame(columns=column_names)
customers = file1
display(customers.head())

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [3]:

cols = []
for colname in customers.columns:
    cols.append(colname.lower().replace(" ","_"))
  
customers.columns = cols

customers = customers.rename(columns={'st': 'State'})

display(customers.head())

print(customers.shape)

,customer,State,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

(4008, 11)

In [4]:
customers.dtypes

customer                      object
State                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. 

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [5]:
# Your code here
customers['gender'] = customers['gender'].replace({'Femal':'F','female':'F','Male':'M'})
customers['State'] = customers['State'].replace({'AZ':'Arizona','Cali':'California', 'WA':'Washington'})
customers['education'] = customers['education'].replace({'Bachelors': 'Bachelor'})
customers['customer_lifetime_value'] = customers['customer_lifetime_value'].str.rstrip('%')
customers['vehicle_class'] = customers['vehicle_class'].replace({"Sports Car" : 'Luxury', "Luxury SUV": 'Luxury', "Luxury Car": 'Luxury'})

In [6]:
customers['gender'].unique()
customers['gender'].value_counts(dropna=False)

NaN    3054
F       502
M       452
Name: gender, dtype: int64

In [7]:
customers['State'].value_counts(dropna=False)

NaN           2937
California     331
Oregon         320
Arizona        211
Washington     111
Nevada          98
Name: State, dtype: int64

In [8]:
customers['education'].value_counts(dropna=False)

NaN                     2937
Bachelor                 331
College                  313
High School or Below     296
Master                    94
Doctor                    37
Name: education, dtype: int64

In [9]:
customers['customer_lifetime_value'].value_counts(dropna=False)

NaN           2940
445811.34        4
251459.20        4
2412750.40       3
684615.03        3
              ...
1210120.88       1
245357.08        1
507566.27        1
321497.94        1
899704.02        1
Name: customer_lifetime_value, Length: 1028, dtype: int64

In [10]:
customers['vehicle_class'].value_counts(dropna=False)

NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Luxury             91
Name: vehicle_class, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has a wrong format, look at the diffrent values it takes with unique() and take the middle value, for example 1/5/00 should be 5. Number of open complaints is a string, remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [11]:
# Your code here
customers['customer_lifetime_value'] = customers['customer_lifetime_value'].astype('float') 
customers['customer_lifetime_value'].value_counts(dropna=False)

NaN           2940
445811.34        4
251459.20        4
2412750.40       3
684615.03        3
              ...
1210120.88       1
245357.08        1
507566.27        1
321497.94        1
899704.02        1
Name: customer_lifetime_value, Length: 1028, dtype: int64

In [12]:
customers['number_of_open_complaints'] = pd.to_numeric(customers['number_of_open_complaints'].str.split('/')[:].str[1], errors= 'coerce')
customers['number_of_open_complaints'].value_counts(dropna=False)

NaN    2937
0.0     830
1.0     138
2.0      50
3.0      34
4.0      13
5.0       6
Name: number_of_open_complaints, dtype: int64

In [13]:
# number_of_open_complaints = customers.copy()
# number_of_open_complaints = pd.to_numeric(number_of_open_complaints['number_of_open_complaints'].str.split('/')[:].str[1], errors= 'coerce')
# number_of_open_complaints

In [14]:
# number_of_open_complaints = customers.copy()
# number_of_open_complaints = number_of_open_complaints['number_of_open_complaints']
# s1 = number_of_open_complaints.str.split('/')[:].str[1]

# number_of_open_complaints['number_of_open_complaints'] = pd.DataFrame(number_of_open_complaints['number_of_open_complaints'].str())
# number_of_open_complaints['number_of_open_complaints'] = number_of_open_complaints['number_of_open_complaints'].astype('object')

# number_of_open_complaints['number_of_open_complaints'] = pd.to_numeric(number_of_open_complaints['number_of_open_complaints'], errors='coerce')
# number_of_open_complaints['number_of_open_complaints'] = number_of_open_complaints['number_of_open_complaints'].apply(lambda x: x.split('/')[1])
# number_of_open_complaints1 = [i.split('/')[1] for i in number_of_open_complaints['number_of_open_complaints']]
# number_of_open_complaints1 = number_of_open_complaints1(map(lambda x: x.split('/')[1], number_of_open_complaints1))
# number_of_open_complaints
s1

NameError: name 's1' is not defined

In [ ]:
number_of_open_complaints.value_counts(dropna=False)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values. 

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

In [ ]:
# I can see that most of the columns have the same number of nulls, therefore I assume that they are duplicates, and I can take action dropping them.
customers.isnull().sum()

In [ ]:
missing_values_df = pd.DataFrame(round(customers.isna().sum()/len(customers),4)*100)
missing_values_df = missing_values_df.reset_index()
missing_values_df.columns = ['column_name', 'percentage_of_missing_values']
display(missing_values_df)

In [ ]:
customers.isnull().sum()

In [ ]:
median_customer_lifetime_value = customers['customer_lifetime_value'].mean()
customers['customer_lifetime_value'] = customers['customer_lifetime_value'].fillna(median_customer_lifetime_value) #replace 4 nans with median

In [ ]:
customers.isnull().sum()

In [ ]:
customers = customers[(customers['gender'].isna()==False)] ## Since these nulls are not a lot, we can filter them

In [ ]:
customers.isna().sum()

In [ ]:
customers['gender'].value_counts(dropna=False)

In [ ]:
customers.info()

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# Your code here
customers.duplicated().sum()

In [ ]:
customers.drop_duplicates()

In [ ]:
display(customers)

In [ ]:
customers.to_csv('final_version')

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here